<div style="text-align:center; min-height:100vh; height:max-content; background-color:rgb(89,0,179)">
    <br>
    <br>
    <br>
    <h3>HTTP 500: The server encountered an error which prevented it from fulfilling the request.</h3>
</div>