<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Student Home Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Unity Game Engine CSS here -->
    <link rel="shortcut icon" href="game/TemplateData/favicon.ico">
    <link rel="stylesheet" href="game/TemplateData/style.css">
    
</head>

<body style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">

    <!-- header-start -->
    <div style="height:100px;">
        <header>
            <div class="header-area" style="background-color:rgb(89,0,179)">
                <div class="main-header-area">
                    <div class="container-fluid p-0">
                        <div class="row align-items-center no-gutters" style="height:100px;">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo-img">
                                    <a href="/studentHomePage">
                                        <img src="img/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="/studentHomePage">Home</a></li>
                                            <li><a href="/studentScoreboard">My Scores</a></li>
                                            <li><a href="/studentProfile">My Profile</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div>
                                    <a href="/logout">
                                        <i style="color:white;" class="flaticon-user"></i>
                                        <span style="color:white;">Log Out</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <!-- header-end -->

    <!-- content_area_start -->
    <div id="studentHomeDiv1" class="slider_area">
        <div id="studentHomeDiv2" class="single_slider slider_bg_1" style="height:max-content; padding-top:5%; padding-bottom:5%;">
            <div class="container" style="text-align:center;">
                <div id="game" class="webgl-content">
                    <div style="border:solid 1px black; width:200px; height:80px;" onclick="unityInstance.SendMessage('JavascriptHook', 'TintRed')">RED</div>
                    <div style="border:solid 1px black; width:200px; height:80px;" onclick="unityInstance.SendMessage('JavascriptHook', 'TintGreen')">GREEN</div>
                    <div style="border:solid 1px black; width:200px; height:80px;" onclick="unityInstance.SendMessage('JavascriptHook', 'SetNumber', 56)">NUMBER</div>
                    <div style="border:solid 1px black; width:200px; height:80px;" onclick="unityInstance.SendMessage('JavascriptHook', 'SetString', 'Hello World!')">STRING</div>
                    <div style="border:solid 1px black; width:200px; height:80px;" onclick="unityInstance.SendMessage('JavascriptHook', 'TestJson', jsonString)">JSON OBJECT</div>
                    <br>
                    <br>
                    <div id="unityContainer" style="height: 600px"></div>
                    <div class="footer">
                        <div class="webgl-logo"></div>
                        <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{#each quiz}}
        <div id="quizName">{{name}}</div>
        <div id="quizID">{{age}}</div>
    {{/each}}

    <!-- content_area_end -->

    <!-- footer -->
    <footer class="footer footer_bg_1">
        <div class="copy-right_text" style="background-color:rgb(89,0,179)">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->

    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>
    <script src="js/main.js"></script>
    
    <!-- Front-end JS scripts here -->
    <script src="frontendJS/testGame.js"></script>

    <!-- Unity Game Engine scripts here -->
    <script src="game/TemplateData/UnityProgress.js"></script>
    <script src="game/Build/UnityLoader.js"></script>
    <script>
        var unityInstance = UnityLoader.instantiate("unityContainer", "game/Build/Desktop.json", {onProgress: UnityProgress});
    </script>
</body>

</html>